body {
  font-family: 'Arial', sans-serif;
  background-image: url('./mtaju.jpg'); /* Set the background image */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgba(17, 54, 78, 0.8); /* Semi-transparent background */
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.shiny-cta {
  background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent button background */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin: 10px;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.shiny-cta a {
  color: white;
  text-decoration: none;
}

.shiny-cta:hover {
  background-color: rgba(99, 97, 226, 0.637); /* Semi-transparent hover color */
  transform: scale(1.05);
}

footer {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(46, 25, 29, 0); /* Semi-transparent footer background */
  position: relative;
  bottom: 0;
  width: 100%;
}